//后台框架尺寸
//菜单宽度
$navMenu:200px;
$navMenuMin:64px;
$layoutHeader:75px;
//主颜色
$mainColoe:#f56c6c;
@mixin webkit($type,$value){
    -webkit-#{$type}: $value;
    -moz-#{$type}: $value;
    -ms-#{$type}: $value;
    -o-#{$type}:$value;
    #{$type}: $value;
}